.array, .member, .vertical {
    display                : flex;
    flex-direction         : column;
    flex-wrap              : nowrap;
    background             : #abc;
}

.object, .element, .horizontal {
    display                : flex;
    flex-direction         : row;
    flex-wrap              : wrap;
    background             : #cba;
}

.label {
    font-weight : bold;
}

* {
    /*outline : 1px solid #DDD;*/
    padding : 2px;
    margin  : 0px;
}

/*.string, .null, .number, .boolean, .member, .element, .value_display, .scalar{*/
.value_display, .member, .element, .summary, .contextmenu {
    /*outline : 1px solid black;*/
}

#message {
    color : red;
}

.fade-enter-active, .fade-leave-active {
  transition : opacity .5s
}

.fade-enter, .fade-leave-active {
  opacity : 0;
}