<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>D&amp;D Sheets</title>
        <script data-main="/files/app.js" src="/files/include/require.js"></script>
        <link rel="stylesheet" href="/files/include/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.css" />
        <link href="/files/include/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/files/include/jquery.contextmenu.css" rel="stylesheet">
        <link href="/files/rects.css" rel="stylesheet">
    </head>

    <body>
        <!-- <div id="instructions">Click on chevrons to expand/collapse.</div> -->
        <div id="message"></div>
        <a href="/listdocs">choose file</a>
        <br />
        <a href="/logout">logout</a>
        <div id="document"></div>
        <div id="document2">
            <dr-object :members="document"></dr-object>
        </div>
    </body>
    <template id="object-template">
        <div class="object">
            <template v-for="(member, key) in members">
                <div class="member">
                    <div class="labelstack horizontal">
                        <div class="controller">
                            <i class="fa fa-chevron-down"></i>
                        </div>
                        <div class="label memberlabel">{{ key }}</div>
                        <input type="text" value="" style="display: none;">
                    </div>
                    <dr-variant :datum="member"></dr-variant>
                </div>
            </template>
        </div>
    </template>
    <template id="array-template">
        <div class="array">
            <template v-for="(element, index) in elements">
                <div class="element">
                    <div class="labelstack vertical">
                        <div class="controller">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                        <div class="label elementlabel">{{ index }}</div>
                        <input type="text" value="" style="display: none;">
                    </div>
                    <dr-variant :datum="element"></dr-variant>
                    <div class="summary" style="display: none;">summary</div>
                </div>
            </template>
        </div>
    </template>
    <template id="scalar-template">
        <div class="scalar horizontal">
            <div class="value_display" :class="type">{{ value }}</div>
            <select style="display: none;">
                <option value="null" :selected="type==='null'">null</option>
                <option value="boolean" :selected="type==='boolean'">boolean</option>
                <option value="number" :selected="type==='number'">number</option>
                <option value="string" :selected="type==='string'">string</option>
                <option value="formula" :selected="type==='formula'">formula</option>
            </select>
            <input type="text" value="" style="display: none;">
        </div>
    </template>
    <template id="variant-template">
        <dr-array :elements="datum" v-if="datum instanceof Array"></dr-array>
        <dr-object :members="datum" v-else-if="datum instanceof Object"></dr-object>
        <dr-scalar :value="datum" v-else></dr-scalar>
    </template>

</html>
