<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>D&amp;D Sheets</title>
        <script data-main="/files/app.js" src="/files/include/require.js"></script>
        <link rel="stylesheet" href="/files/include/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.css" />
        <link href="/files/include/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/files/include/jquery.contextmenu.css" rel="stylesheet">
        <link href="/files/rects.css" rel="stylesheet">
    </head>

    <body>
        <!-- <div id="instructions">Click on chevrons to expand/collapse.</div> -->
        <div id="message"></div>
        <a href="/listdocs">choose file</a>
        <br />
        <a href="/logout">logout</a>

        <div id="document">
            <dr-object
                :members="document">
            </dr-object>
        </div>
    </body>

    <template id="object-template">
        <div class="object">
            <dr-member
                v-for="kv in sortedMembers"
                :member="kv.v" :hash="kv.k" :key="kv.k"
                @deletenode="deletenode" @labelmodify="labelmodify">
            </dr-member>
        </div>
    </template>

    <template id="member-template">
        <div class="member">
            <div class="labelstack horizontal">
                <div class="controller" @click="click">
                    <i :class="widgeticon"></i>
                </div>

                <dr-label
                    :label="hash" :editable=true
                    @deletenode="deletenode" @labelmodify="labelmodify">
                </dr-label>
            </div>

            <transition name="fade">
                <dr-variant
                    v-if="expanded"
                    :datum="member" :owner="hash">
                </dr-variant>
            </transition>
        </div>
    </template>

    <template id="array-template">
        <div class="array">
            <dr-element
                v-for="(v, i) in elements"
                :element="v" :index="i"  :key="i" :summary-field="summaryField"
                @deletenode="deletenode">
            </dr-element>
        </div>
    </template>

    <template id="element-template">
        <div class="element">
            <div class="labelstack vertical">
                <div class="controller"
                    @click="click">
                    <i :class="widgeticon"></i>
                </div>

                <dr-label
                    :label="index" :editable=false
                    @deletenode="deletenode">
                </dr-label>
            </div>

            <transition name="fade">
                <dr-variant
                    v-if="expanded"
                    :datum="element">
                </dr-variant>

                <div class="summary"
                    v-else>
                    {{ summary }}
                </div>
            </transition>
        </div>
    </template>

    <template id="scalar-template">
        <div class="scalar horizontal">
            <div class="value_display"
                :class="type">
                {{ value }}
            </div>
            <select style="display: none;">
                <option value="null"    :selected="type==='null'">null</option>
                <option value="boolean" :selected="type==='boolean'">boolean</option>
                <option value="number"  :selected="type==='number'">number</option>
                <option value="string"  :selected="type==='string'">string</option>
                <option value="formula" :selected="type==='formula'">formula</option>
            </select>
            <input type="text" value="" style="display: none;">
        </div>
    </template>

    <template id="variant-template">
        <dr-array
            v-if="datum instanceof Array"
            :elements="datum" :owner="owner">
        </dr-array>

        <dr-object
            v-else-if="datum instanceof Object"
            :members="datum">
        </dr-object>

        <dr-scalar
            v-else
            :value="datum">
        </dr-scalar>
    </template>

    <template id="label-template">
        <div class="label"
            v-if="!labeleditmode">
            {{ label }}
        </div>

        <input
            v-else=""
            v-model.lazy.trim="mylabel"
            @keyup.enter="labeleditdone"
            type="text">
    </template>
</html>
