<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>D&amp;D Sheets</title>
        <script data-main="/files/app.js" src="/files/include/require.js"></script>
        <link rel="stylesheet" href="/files/include/jquery-ui/css/smoothness/jquery-ui-1.10.4.custom.css" />
        <link href="/files/include/font-awesome/css/font-awesome.css" rel="stylesheet">
        <link href="/files/include/jquery.contextmenu.css" rel="stylesheet">
        <link href="/files/rects.css" rel="stylesheet">
    </head>

    <body>
        <!-- <div id="instructions">Click on chevrons to expand/collapse.</div> -->
        <div id="message"></div>
        <a href="/listdocs">choose file</a>
        <br />
        <a href="/logout">logout</a>
        <div id="document">
            <dr-object :members="document"></dr-object>
        </div>
    </body>
    <template id="object-template">
        <div class="object">
            <dr-member v-for="(member, hash) in members" :member="member" :hash="hash"></dr-member>
        </div>
    </template>
    <template id="member-template">
        <div class="member">
            <div class="labelstack horizontal">
                <div class="controller" @click="click">
                    <i :class="expanded ? collapsers['member-open'] : collapsers['member-close']"></i>
                </div>
                <div class="label memberlabel">{{ hash }}</div>
                <input type="text" value="" style="display: none;">
            </div>
            <transition name="fade">
                <dr-variant :datum="member" :owner="hash" v-if="expanded"></dr-variant>
            </transition>
        </div>
    </template>
    <template id="array-template">
        <div class="array">
            <dr-element v-for="(element, index) in elements" :element="element" :index="index" :summary-field="summaryField"></dr-element>
        </div>
    </template>
    <template id="element-template">
        <div class="element">
            <div class="labelstack vertical">
                <div class="controller" @click="click">
                    <i :class="expanded ? collapsers['element-open'] : collapsers['element-close']"></i>
                </div>
                <div class="label elementlabel">{{ index }}</div>
                <input type="text" value="" style="display: none;">
            </div>
            <transition name="fade">
                <dr-variant :datum="element" v-if="expanded"></dr-variant>
                <div class="summary" v-else>{{ summary }}</div>
            </transition>
        </div>
    </template>
    <template id="scalar-template">
        <div class="scalar horizontal" @dblclick="dblclick">
            <div class="value_display" :class="type">{{ value }}</div>
            <select style="display: none;">
                <option value="null" :selected="type==='null'">null</option>
                <option value="boolean" :selected="type==='boolean'">boolean</option>
                <option value="number" :selected="type==='number'">number</option>
                <option value="string" :selected="type==='string'">string</option>
                <option value="formula" :selected="type==='formula'">formula</option>
            </select>
            <input type="text" value="" style="display: none;">
        </div>
    </template>
    <template id="variant-template">
        <dr-array :elements="datum" :owner="owner" v-if="datum instanceof Array"></dr-array>
        <dr-object :members="datum" v-else-if="datum instanceof Object"></dr-object>
        <dr-scalar :value="datum" v-else></dr-scalar>
    </template>

</html>
